@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	text-underline-position: under;
}

.table-box-type > table {
	width: 100%;
}

.border-bottom-line {
	border-bottom: 1px solid #96948d;
}

.btns > .btn-text-color {
	color:black;
}

.btns > .btn-text-color:hover {
	color:white;
}