@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'NanumSquareNeo-Variable', sans-serif;
	text-underline-position: under;
}

html > body .ProseMirror, html > body .toastui-editor-contents {
	font-size: 1.25rem;
}

.table-box-type > table {
	width: 100%;
}

.border-bottom-line {
	border-bottom: 1px solid #96948d;
}

.btns > .btn-text-color {
	color:black;
}

.btns > .btn-text-color:hover {
	color:white;
}

.modal-exam, .popUp-exam {
	font-size: 2rem;
}

.layer,.layer-bg {
	display: none;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

.layer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: darkseagreen;
	color: white;
	width: 500px;
	height: 500px;
	border: 5px solid red;
}

.layer > h1 {
	font-size: 2rem;
	padding: 15px;
}

.layer > div {
	padding: 20px;
}

.layer > button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.layer > .close-btn-x {
	font-size: 4rem;
	position: absolute;
	top: -10px;
	right: 15px;
	cursor: pointer;
	color: black;
}
